<!-- Color Blind Filters -->
<svg
  xmlns="http://www.w3.org/2000/svg"
  version="1.1">
  <defs>
    <filter id="protanopia">
      <feColorMatrix
        in="SourceGraphic"
        type="matrix"
        values="0.567, 0.433, 0,     0, 0
                0.558, 0.442, 0,     0, 0
                0,     0.242, 0.758, 0, 0
                0,     0,     0,     1, 0"/>
    </filter>
    <filter id="deuteranopia">
      <feColorMatrix
        in="SourceGraphic"
        type="matrix"
        values="0.625, 0.375, 0,   0, 0
                0.7,   0.3,   0,   0, 0
                0,     0.3,   0.7, 0, 0
                0,     0,     0,   1, 0"/>
    </filter>
    <filter id="tritanopia">
      <feColorMatrix
        in="SourceGraphic"
        type="matrix"
        values="0.95, 0.05,  0,     0, 0
                0,    0.433, 0.567, 0, 0
                0,    0.475, 0.525, 0, 0
                0,    0,     0,     1, 0"/>
    </filter>
  </defs>
</svg>

<!-- Accessibility Button CSS -->
<style>
  body.grayscale {
    -webkit-filter: grayscale(1) !important;
    filter: grayscale(1) !important;
  }

  body.protanopia {
    -webkit-filter: url('#protanopia') !important;
    filter: url('#protanopia') !important;
  }

  body.deuteranopia {
    -webkit-filter: url('#deuteranopia') !important;
    filter: url('#deuteranopia') !important;
  }

  body.tritanopia {
    -webkit-filter: url('#tritanopia') !important;
    filter: url('#tritanopia') !important;
  }

  body.blur {
    -webkit-filter: blur(2px) !important;
    filter: blur(2px) !important;
  }

  .custom-btn-container {
    border: 2px solid white; /* 2px wide white border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;
    z-index: 9999999999 !important;
    height: 48px !important;
    width: 48px !important;
    background: #023047 !important;
    border-radius: 50% !important;
    position: fixed !important;
    top: 48px;
    right: 100px !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .custom-btn-container.active .btn {
    transform: rotateZ(45deg) !important;
  }

  .custom-btn-container .btn {
    color: #f1faee !important;
    font-size: 36px !important;
    font-weight: bold !important;
    user-select: none !important;
    transition: all 500ms !important;
  }

  .custom-btn-container .btn-options {
    position: absolute !important;
    left: -350% !important;
    top: -50% !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3) !important;
    transform: translateX(50px) !important;
    opacity: 0 !important;
    pointer-events: none !important;
    transition: all 500ms !important;
  }

  .custom-btn-container.active .btn-options {
    transform: translateX(0) !important;
    opacity: 1 !important;
    pointer-events: auto !important;
  }

  .custom-btn-container .btn-options button {
    display: block !important;
    padding: 8px 32px !important;
    background: #90e0ef !important;
    text-decoration: none !important;
    font-weight: bold !important;
    font-family: "Roboto", sans-serif !important;
    font-size: 15px !important;
    color: #000814 !important;
    transition: all 500ms !important;
    width: 100% !important;
    border-radius: 0 !important;
    border: 1px solid #000 !important;
    height: auto !important;
  }

  .custom-btn-container .btn-options button:hover {
    background: #000814 !important;
    color: #90e0ef !important;
  }

  .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .popup .popuptext {
    visibility: visible;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }

  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .popup .hidden {
    visibility: hidden;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }

  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
</style>

<!-- Accessibility Functions -->
<script>
  function addFilter(property) {
    const isEnabled = document.body.classList.contains(property);

    let filters = [
      'grayscale',
      'deuteranopia',
      'protanopia',
      'tritanopia',
      'blur'
    ]

    // Remove each class from the filters array
    for (let filter of filters) {
      document.body.classList.remove(filter);
    }

    if (!isEnabled) {
      document.body.classList.add(property);
    }
  }

  function popup() {
    const popup = document.getElementById("myPopup");
    popup.classList.add("hidden");
  }
</script>

<!-- Accessibility Button HTML -->
<div class="custom-btn-container popup" onclick="popup()">
  <span class="popuptext" id="myPopup">Click me for settings!</span>
  <div class="btn">+</div>

  <div class="btn-options">
    <button onclick="addFilter('grayscale')">Grayscale</button>
    <button onclick="addFilter('deuteranopia')">Deuteranopia</button>
    <button onclick="addFilter('protanopia')">Protanopia</button>
    <button onclick="addFilter('tritanopia')">Tritanopia</button>
    <button onclick="addFilter('blur')">Blur</button>
  </div>
</div>

<!-- Accessibility Button Javascript -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-ui@1.13.2/dist/jquery-ui.min.js"></script>
<script>
  // Make button move
  $('.custom-btn-container').draggable();
  $('.custom-btn-container').click(function() {
    $('.custom-btn-container').toggleClass('active');
  })

  // Change links to working ones
  $(document).ready(function() {
    // Select all anchor (a) elements on the page
    $('a').each(function() {
      // Replace the href attribute with the new URL
      var currentHref = $(this).attr('href');
      var newHref = "https://accessibleweb.page/" + currentHref;
      $(this).attr('href', newHref);
    });
  });
</script>

<!-- Mailing List -->
<script async src="https://eocampaign1.com/form/8f699190-7502-11ee-b82c-0922879d12a2.js" data-form="8f699190-7502-11ee-b82c-0922879d12a2"></script>
