<!--Color Blind Filters-->
<svg
  xmlns="http://www.w3.org/2000/svg"
  version="1.1">
  <defs>
    <filter id="protanopia">
      <feColorMatrix
        in="SourceGraphic"
        type="matrix"
        values="0.567, 0.433, 0,     0, 0
                0.558, 0.442, 0,     0, 0
                0,     0.242, 0.758, 0, 0
                0,     0,     0,     1, 0"/>
    </filter>
    <filter id="deuteranopia">
      <feColorMatrix
        in="SourceGraphic"
        type="matrix"
        values="0.625, 0.375, 0,   0, 0
                0.7,   0.3,   0,   0, 0
                0,     0.3,   0.7, 0, 0
                0,     0,     0,   1, 0"/>
    </filter>
    <filter id="tritanopia">
      <feColorMatrix
        in="SourceGraphic"
        type="matrix"
        values="0.95, 0.05,  0,     0, 0
                0,    0.433, 0.567, 0, 0
                0,    0.475, 0.525, 0, 0
                0,    0,     0,     1, 0"/>
    </filter>
  </defs>
</svg>

<!--Accessibility Button CSS-->
<style>
  body.grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }

  body.protanopia {
    -webkit-filter: url('#protanopia');
    filter: url('#protanopia');
  }

  body.deuteranopia {
    -webkit-filter: url('#deuteranopia');
    filter: url('#deuteranopia');
  }

  body.tritanopia {
    -webkit-filter: url('#tritanopia');
    filter: url('#tritanopia');
  }

  .custom-btn-container {
    z-index: 9999999999;
    height: 48px;
    width: 48px;
    background: #023047;
    border-radius: 50%;
    position: absolute;
    top: 48px;
    right: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .custom-btn-container.active .btn {
    transform: rotateZ(45deg);
  }

  .custom-btn-container .btn {
    color: #f1faee;
    font-size: 36px;
    font-weight: bold;
    user-select: none;
    transition: all 500ms;
  }

  .custom-btn-container .btn-options {
    position: absolute;
    left: -350%;
    top: -50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateX(50px);
    opacity: 0;
    pointer-events: none;
    transition: all 500ms;
  }

  .custom-btn-container.active .btn-options {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  .custom-btn-container .btn-options button {
    display: block;
    padding: 8px 32px;
    background: #90e0ef;
    text-decoration: none;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: #000814;
    transition: all 500ms;
    width: 100%;
    border-radius: 0;
    border: 1px solid #000;
    height: auto;
  }

  .custom-btn-container .btn-options button:hover {
    background: #000814;
    color: #90e0ef;
  }
</style>

<!--Accessibility Functions-->
<script>
  const body = document.body;

  function addFilter(property) {
    if (body.classList.contains(property)) {
      body.classList.remove(property);
    } else {
      body.classList.add(property);
    }
  }
</script>

<!--Accessibility Button HTML-->
<div class="custom-btn-container">
  <div class="btn">+</div>

  <div class="btn-options">
    <button onclick="addFilter('grayscale')" href="#">Grayscale</button>
    <button onclick="addFilter('deuteranopia')" href="#">Deuteranopia</button>
    <button onclick="addFilter('protanopia')" href="#">Protanopia</button>
    <button onclick="addFilter('tritanopia')" href="#">Tritanopia</button>
    <button href="#">Contrast</button>
    <button href="#">Blur</button>
  </div>
</div>

<!--Accessibility Button Javascript-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-ui@1.13.2/dist/jquery-ui.min.js"></script>
<script>
  $('.custom-btn-container').draggable();
  $('.custom-btn-container').click(function() {
    $(this).toggleClass('active');
  })
</script>
