<!doctype html>
<html lang="en">
  <head>
      <title>A11y</title>

      <!-- Tailwind CSS -->
      <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="bg-blue-5">
    <!-- Header -->
    <div class="md:mt-12 max-w-screen-xl mx-auto" style="background-image: url('{{ url_for('static', filename='background.jpg') }}');">
      <div class="flex relative justify-center text-gray-700 text-center">
        <h1 class="px-6 py-24 md:px-0 max-w-screen-md text-5xl md:text-7xl font-extrabold tracking-tight md:order-2 z-10 text-white">Experience your website through the lens of visual, auditory, or mobility impairments</h1>
      </div>
    </div>

    <!-- Input -->
    <script>
      function onClick(url) {
        // Get the URL entered by the user
        var url = document.getElementById("url").value;

        // Check if url is valid
        if (url.startsWith("http://") || url.startsWith("https://")) {
            window.location.href = url;
        } else {
            alert("Invalid URL. Please enter a valid URL starting with 'http://' or 'https://'.");
        }
      };
    </script>
    <div class="px-4 md:px-6">
      <div class="mt-6 max-w-screen-lg mx-auto flex flex-col items-center">
        <form class="flex text-xl" action="/proxy">
          <input required type="text" class="px-4 flex-1 min-w-0 border border-gray-400 border-r-0" placeholder="https://example.com/..." name="url" id="url">
          <input type="submit" class="hidden">
          <button onclick="onClick()" class="px-4 py-2 min-w-12 text-sm leading-none font-medium border border-purple-500 bg-purple-100 text-purple-700 hover:bg-purple-200">Test <br>Website </button>
        </form>
        <p class="mt-12 font-light text-xl">Test any website,</p>
        <div class="mt-1 inline-flex items-center font-medium text-xl">
          <span>https://a11y.io/</span>
          <span class="bg-purple-200" style="line-height:0.5">&lt;URL&gt;</span>
        </div>
        <div class="mt-8">
          <h3 class="text-center font-semibold text-gray-500">Works with your favorite websites</h3>
        </div>
      </div>
    </div>

    <!-- FAQ -->
    <div class="my-4 max-w-screen-sm mx-auto pt-6 md:pt-12 px-4 md:px-6 prose">
      <h2 class="text-center font-bold text-xl">FAQ</h2>
      <br>
      <h3 class="font-bold text-xl">What?</h3>
      <p>Test out any website with tools to simulate the experience of visual, auditory, or mobility impairments</p>
      <br>
      <h3 class="font-bold text-xl">Why?</h3>
      <p>People struggle with the poor website design everyday. By using this project, you could know what parts of your website needs improvement. Or at the very least, we can spread awareness about the stuggles people face.</p>
      <br>
      <h3 class="font-bold text-xl">How does it work?</h3>
      <p>The idea is pretty simple, this website caches the website you are looking for, modify the page to add the options, and then serve it to you.</p>
    </div>
  </body>  

  <!-- Footer -->
  <footer class="max-w-screen-sm justify-center items-center mx-auto py-16 px-4 md:px-6 flex flex-row gap-4">
    <a class="w-8 h-8" target="_blank" href="mailto:justin.singh.dhillon@gmail.com"><img src="{{url_for('static', filename='email.svg')}}" /></a>
    <a class="w-8 h-8" target="_blank" href="https://github.com/justindhillon"><img src="{{url_for('static', filename='github.svg')}}" /></a>
    <a class="w-8 h-8" target="_blank" href="https://www.linkedin.com/in/justin-dhillon/"><img src="{{url_for('static', filename='linkedIn.svg')}}" /></a>
    <a class="w-8 h-8" target="_blank" href="https://twitter.com/justindhillon0"><img src="{{url_for('static', filename='twitter.svg')}}" /></a>
  </footer>
</html> 
